<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1073246117887-hicttapq67nb73r371sm9oh7cck6qc3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073246117887-hicttapq67nb73r371sm9oh7cck6qc3q</string>
	<key>API_KEY</key>
	<string>AIzaSyA3B91ih1eH1WS2IAP6mO_fzdfGc0L-Bh0</string>
	<key>GCM_SENDER_ID</key>
	<string>1073246117887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterpoll</string>
	<key>PROJECT_ID</key>
	<string>audiobook-35e68</string>
	<key>STORAGE_BUCKET</key>
	<string>audiobook-35e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073246117887:ios:7c18b237d18bae3c</string>
	<key>DATABASE_URL</key>
	<string>https://audiobook-35e68.firebaseio.com</string>
</dict>
</plist>